<!DOCTYPE html>
<html lang="en">
<head>
    <title> login </title>
</head>
<!-- <body style=" background:linear-gradient(to right,rgb(247, 247, 44),rgb(247, 161, 3),rgb(233, 77, 77))"> -->
    
    <!-- <div class="container"> -->

        <!--<h1> REGISTER </h1> <br><br>

        <form [formGroup]="hideForm"(ngSubmit)="hideUser()">

            <label for="name"> <b> NAME  </b> </label>                                                                                                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="name" placeholder="Enter Your Frist Name" formControlName="name"><br>  
                                                                                                                                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="color" *ngIf="hideForm.get('name').invalid && hideForm.get('name').touched"> Name is Requried </span> <br> 
             
            <label for="fname"> <b> E-MAIL ID </b> </label>                                                                                                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="name" placeholder="@gmail.xyz.com" formControlName="mail id"><br>
                                                                                                                                                                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="color" *ngIf="hideForm.get('mail id').invalid && hideForm.get('mail id').touched"> Mail is Requried </span> <br>

            <label for="fname"> <b> PHONE NO  </b></label>                                                                                                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="name" placeholder="+91" formControlName="phone no"><br>
                                                                                                                                                                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="color" *ngIf="hideForm.get('phone no').invalid && hideForm.get('phone no').touched"> Phone no is Requried </span> <br>

            <label for="fname"> <b> PASSWORD </b> </label>                                                                                                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="name" placeholder="Enter Your Password" formControlName="Password"><br>
                                                                                                                                                                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="color" *ngIf="hideForm.get('Password').invalid && hideForm.get('Password').touched"> Password is Requried </span> <br>

            <label for="fname"> <b> CONFIRM PASSWORD </b> </label>                                                                                                       &nbsp;&nbsp;
            <input type="name" placeholder="Enter Your Comfirm Password" formControlName="Comfirm password"><br>
                                                                                                                                                                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="color" *ngIf="hideForm.get('Comfirm password').invalid && hideForm.get('Comfirm password').touched"> confirm password is Requried </span> <br>

            <button class="Register" style=" background:linear-gradient(to right,rgb(247, 247, 44),rgb(247, 161, 3),rgb(233, 77, 77))"> <b> CANCEL </b> </button>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <button style=" background:linear-gradient(to right,rgb(247, 247, 44),rgb(247, 161, 3),rgb(233, 77, 77))"> <b> REGISTER </b> </button> <br><br><br>

        </form> -->
    
        <!-- <h1> LOGIN </h1><br>
        <form [formGroup]="hideForm"(ngSubmit)="hideUser()"><br>

            <label for="fname"> <b>MAIL ID</b>  </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="name" placeholder="Enter Your Mail Id" formControlName=""><br>
                                                                                                                                                                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="color" *ngIf="hideForm.get('mail').invalid && hideForm.get('mail').touched"> Mail id is Requried </span> <br>
            
            <label for="password"> <b> PASSWORD</b>  </label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="name" placeholder="Enter Your Password" formControlName="name"><br>
                                                                                                                                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="color" *ngIf="hideForm.get('Pass').invalid && hideForm.get('Pass').touched"> Password is Requried </span> <br>

            <input type="checkbox" value="remember me">REMEMBER ME &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href=""> <b>FORGET PASSWORD?</b> </a><br><br><br>

            <button style=" background:linear-gradient(to right,rgb(247, 247, 44),rgb(247, 161, 3),rgb(233, 77, 77))"> <b>LOGIN </b> </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <button style=" background:linear-gradient(to right,rgb(247, 247, 44),rgb(247, 161, 3),rgb(233, 77, 77))"> <b>CANCEL</b> </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <a href="#"> <b> Sign in </b> </a>
            </form>
            </div>
            </body>
            </html>
        
 -->
 <body>
    <mat-toolbar class="navbar fixed-top" style="background-color: rgba(78, 169, 255, 0.5);margin-top: 0px;">
        <mat-toolbar-row>
            <button mat-button routerLink="/home"> <b> HOME </b> </button>
            <button mat-button routerLink="/about"> <b> ABOUT </b> </button>
            <button mat-button routerLink="/contact"> <b> CONTACT </b> </button>
            <span class="spacer"></span>
            <button mat-button routerLink="/register"> <b> REGISTER </b> </button>
            <button mat-button routerLink="/login"> <b> LOGIN </b> </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="medium-list">
        <div class="list-viewer-wrapper">
            <div class="list-header-title">
                Login
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onLoginSubmit()" novalidate>
                <div class="form-container">
                    <mat-form-field>
                        <input id="email"
                        matInput
                        formControlName="email"
                        [(ngModel)]="user.email"
                        placeholder="Enter Your E-Mail">
                    </mat-form-field>
                    <mat-form-field>
                        <input id="password"
                        matInput
                        formControlName="password"
                        [(ngModel)]="user.password"
                        placeholder="Enter Your Password"
                        [type]="hide ? 'password' : 'text' ">
                        <mat-icon matSuffix (click)="hide=!hide">
                            {{hide?'visibility':'visibility_off'}}
                        </mat-icon>
                    </mat-form-field>
                    <button mat-button type="submit" mat-raised-button mat-primary class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>
