<!DOCTYPE html>
<html lang="en">
<head>
    <title> 5 SOHA </title>
</head>

<body>
 
<!-- <nav id="nav">
<div class="navTop">
<div class="navItem">
    
<img src="https://logos.textgiraffe.com/logos/logo-name/Soha-designstyle-jungle-m.png" alt="" width="100px" height="50px">
</div>


<div class="navBottom">
    <h5 class="menuItem" routerLink="/home">    HOME    </h5>
    <h5 class="menuItem" routerLink="/about">   ABOUT   </h5>
    <h5 class="menuItem" routerLink="/contact"> CONTACT </h5> 
    <h5 class="menuItem" routerLink="/login">   LOGIN    </h5> 
</div>
</div>
</nav> -->

<mat-toolbar color="warn">
    <mat-toolbar-row>
        <button mat-button routerLink="/home">HOME</button>
        <button mat-button routerLink="/about">ABOUT</button>
        <button mat-button routerLink="/contact">CONTACT</button>
        <span class="spacer"></span>
        <button mat-button routerLink="/register">REGISTER</button>
        <button mat-button routerLink="/login">LOGIN</button>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>


