<!DOCTYPE html>
<html lang="en">
<head>
    <title>Food Ordering Restaurant</title>
</head>

<body>
 
<!-- <nav id="nav">
<div class="navTop">
<div class="navItem">
    
<img src="https://logos.textgiraffe.com/logos/logo-name/Soha-designstyle-jungle-m.png" alt="" width="100px" height="50px">
</div>


<div class="navBottom">
    <h5 class="menuItem" routerLink="/home">    HOME    </h5>
    <h5 class="menuItem" routerLink="/about">   ABOUT   </h5>
    <h5 class="menuItem" routerLink="/contact"> CONTACT </h5> 
    <h5 class="menuItem" routerLink="/login">   LOGIN    </h5> 
</div>
</div>
</nav> -->
<!-- <header style="background-color:#006CFE;">
<marquee behavior="scroll" direction="left" scrollamount="3" id1="ticker"></marquee> Laughter is Brightest Where Food is Best
</header> -->


<!-- <div class="col-md-12 col-lg-2 col-sm-12">
<div class="top-social-bookmark"> -->
<!-- <ul>
    <li><a href="https://www.facebook.com/a2b.officialpage/" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter" target="_blank"></i></a></li>
    <li><a href="https://www.instagram.com/a2b.official/" target="_blank"><i class="fa fa-instagram"></i></a></li>
</ul> -->
<!-- </div>

</div> -->
<!-- </div>

</div> -->
<!-- <mat-toolbar class="navbar fixed-top" style="background-color: rgba(78, 169, 255, 0.5);margin-top: 38px;">
    <mat-toolbar-row>
        <button mat-button routerLink="/home"> <b> HOME </b> </button>
        <button mat-button routerLink="/about"> <b> ABOUT </b> </button>
        <button mat-button routerLink="/contact"> <b> CONTACT </b> </button>
        <span class="spacer"></span>
        <button mat-button routerLink="/register"> <b> REGISTER </b> </button>
        <button mat-button routerLink="/login"> <b> LOGIN </b> </button>
    </mat-toolbar-row>
</mat-toolbar> -->

<router-outlet></router-outlet>


