<!DOCTYPE html>
<html lang="en">
<head>
    <title> 5 SOHA </title>
</head>


<body style="background:linear-gradient(to right,rgb(219, 219, 126),rgb(247, 161, 3),rgb(233, 77, 77))">
 <div class="image">
<img src="https://assets.cntraveller.in/photos/60ba114cee63ec1fe6ee87c2/master/w_1600%2Cc_limit/Gomanthak-D2.gi" alt="" width="600px" height="500px">
<br> <br>
</div>

<h4> welcome to Five SOHA Restaurant </h4> <br>

<h4> <u> SPECIAL DISHES </u> </h4> <br>
<p> Our Menu is a mix & blend of various cuisines with a wide spread to select on. 
    A few of our menu are Authentic Andhra Meals with <b> Gongura & Dhall Powder, Chettinadu Seeraga Samba Biryani, 
    Mutton Sukka, Indian Breads, Kababs, Hyderabad Chicken, Kohinoor Chicken, Seer Fish Fry, Pomfret Fry, Golden Fried Prawn </b>
    and more.Our first branch was started in 1987 in a small Town, Trichy.
    Now we have spread across 5 Cities & Towns with 10 Branches catering to the needs of the masses happily
 </p> <br> &nbsp;&nbsp;&nbsp;&nbsp;


 &nbsp;&nbsp;&nbsp;&nbsp;<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBRPzfaaUYvyl_qlcGDJnrmt5ADBeAU8Al9g&usqp=CAU" alt="Avatar" style="width:100%;height:100%;">
      </div>
      <div class="flip-card-back">
        <h1> Kababs </h1>
        </div>
    </div>
  </div>

  &nbsp;&nbsp;&nbsp;&nbsp;<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://www.lekhafoods.com/media/1051277/virudhunagar-mutton-sukka.jpg" alt="Avatar" style="width:100%;height:100%;">
      </div>
      <div class="flip-card-back">
        <h1> Mutton Sukka </h1>
        </div>
    </div>
  </div>

  &nbsp;&nbsp;&nbsp;&nbsp; <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://img.freepik.com/premium-photo/indian-mutton-biryani-prepared-basmati-rice-served-with-yogurt-dip-moody-background-selective-focus_466689-53059.jpg?w=2000" alt="Avatar" style="width:100%;height:100%;">
      </div>
      <div class="flip-card-back">
        <h1> Chettinadu Seeraga Samba Biryani </h1>
        </div>
    </div>
  </div>

  &nbsp;&nbsp;&nbsp;&nbsp;<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoRDUBUDZmdg65V5fng0XdEmXRvRE5KvT6cg&usqp=CAU" alt="Avatar" style="width:100%;height:100%;">
      </div>
      <div class="flip-card-back">
        <h1> Golden Fried Prawn </h1>
        </div>
    </div>
  </div>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://img.freepik.com/premium-photo/seekh-kabab-made-with-minced-chicken-mutton-keema-served-with-green-chutney-salad_466689-78891.jpg?w=2000" alt="Avatar" style="width:100%;height:100%;">
      </div>
      <div class="flip-card-back">
        <h1> Kohinoor Chicken </h1>
        </div>
    </div>
  </div>

  &nbsp;&nbsp;&nbsp;&nbsp;<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://www.licious.in/blog/wp-content/uploads/2020/12/shutterstock_1903959760.jpg" alt="Avatar" style="width:100%;height:100%;">
      </div>
      <div class="flip-card-back">
        <h1> Seer Fish Fry </h1>
        </div>
    </div>
  </div>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBW63_4dLKW_xbOED0ZAmdkeROBw33JUbJ8g&usqp=CAU" alt="Avatar" style="width:100%;height:100%;">
      </div>
      <div class="flip-card-back">
        <h1> Gongura & Dhall Powder </h1>
        </div>
    </div>
  </div>

  

  &nbsp;&nbsp;&nbsp;&nbsp;<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://www.outlookindia.com/outlooktraveller/public/uploads/articles/explore/Naan_final.jpg" alt="Avatar" style="width:100%;height:100%;">
      </div>
      <div class="flip-card-back">
        <h1 style="font-family: Arial, Helvetica, sans-serif;"> Indian Breads </h1>
        </div>
    </div>
  </div>
  
 </body>
 </html>
 

  




 



   



   