<body>
    <mat-toolbar class="navbar fixed-top" style="background-color: rgba(78, 169, 255, 0.5);margin-top: 0px;">
        <mat-toolbar-row>
            <button mat-button routerLink="/home"> <b> HOME </b> </button>
            <button mat-button routerLink="/about"> <b> ABOUT </b> </button>
            <button mat-button routerLink="/contact"> <b> CONTACT </b> </button>
            <span class="spacer"></span>
            <button mat-button routerLink="/register"> <b> REGISTER </b> </button>
            <button mat-button routerLink="/login"> <b> LOGIN </b> </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="medium-list">
        <div class="list-viewer-wrapper">
            <div class="list-header-title">
                REGISTER
            </div>
            <form [formGroup]="registerForm" action="register.js" (ngSubmit)="registerForm.valid && onRegisterSubmit()" novalidate>
                <div class="form-container">
                    <mat-form-field>
                        <input id="name"
                        matInput
                        formControlName="name"
                        [(ngModel)]="user.name"
                        placeholder="Enter Your Name">
                    </mat-form-field>
                    <mat-form-field>
                        <input id="email"
                        matInput
                        formControlName="email"
                        [(ngModel)]="user.email"
                        placeholder="Enter Your E-Mail">
                    </mat-form-field>
                    <mat-form-field>
                        <input id="contact"
                        matInput
                        formControlName="Contact No"
                        [(ngModel)]="user.contact"
                        placeholder="Enter Your Contact Number">
                    </mat-form-field>
                    <mat-form-field>
                        <input id="password"
                        matInput
                        formControlName="password"
                        [(ngModel)]="user.password"
                        placeholder="Enter Your Password"
                        [type]="hide ? 'password' : 'text' ">
                        <mat-icon matSuffix (click)="hide=!hide">
                            {{hide?'visibility':'visibility_off'}}
                        </mat-icon>
                    </mat-form-field>
                    <button mat-button type="submit" mat-raised-button mat-primary class="btn btn-primary" style="text-align: center;">Register</button>
                    <!-- <button mat-button routerLink="/login" class="divider">Login</button> -->
                </div>
            </form>
        </div>
    </div>
</body>
